<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="obj" class="com.spring.Student">
		
     	<property name="id" value="74"/>
     	<property name="name" value="Nandini"/>
     	<property name="subjects">
         	<set>
            	<value>English</value>
            	<value>English</value>
            	<value>Science</value>
            	<value>Science</value>
            	<value>Math</value>
            	<value>Math</value>
            	<value>SocialScience</value>
            	<value>SocialScience</value>
         	</set>
     	</property>
	</bean>                    
</beans>