<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!-- this tag is required in the annotation based wiring means with @autowired --> 
<context:annotation-config></context:annotation-config>
<bean id="obj" class="com.spring.Student"></bean>
  
<!--no need of this in bean tag below  id="add" -->    
<bean  class="com.spring.Address">
    
  		<property name="cityname" value="Hyd"/>
       	<property name="statename" value="Tel"/>
       	<property name="countryname" value="India"/>
   
</bean>

</beans>