<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
 
 
<context:annotation-config></context:annotation-config>    
 <bean id="obj" class="com.spring.Student">
		<property name="id" value="74"/>
       	<property name="name" value="Nandini Jain"/> 
</bean>

 <bean id="address1" class="com.spring.Address" >
 <property name="cityname" value="Agra"></property>
 <property name="statename" value="UttarPradesh"></property>
 <property name="countryname" value="India"></property>
 </bean> 
  
 <bean id="address2" class="com.spring.Address" >
 <property name="cityname" value="Jabalpur"></property>
 <property name="statename" value="MadhyaPradesh"></property>
 <property name="countryname" value="India"></property>
 </bean>  
 
 
</beans>